/* 

body {
    font-family: Arial, sans-serif;
    background-color: rgba(1, 45, 3, 0.9);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #333;
}

.container {
    margin-top: 10px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    text-align: center;
    
}

h1 {
    color: #4CAF50;
    font-size: 2em;
    margin-top: 10px;
}

.input-group {
    margin-top: 10px;
}

#title{
    width: calc(100% - 22px);
    height: 20px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

input[type="number"] {
    height: 20px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    margin: 5px;
}

button:hover {
    background-color: #45a049;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 10px 0;
    padding: 10px;
    text-align: left;
}

li button {
    float: right;
    background-color: #f44336;
}

li button:hover {
    background-color: #e53935;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

